<%- include("./partials/header.ejs") %>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Form Basic</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Library
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-10">
          <div class="card">
            <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
              <div class="card-body">
                <h4 class="card-title">Add Movie</h4>

                <div class="form-group row">
                  <label for="title" class="col-sm-3 text-end control-label col-form-label">Title</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="title" name="title">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="description" class="col-sm-3 text-end control-label col-form-label">Description</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="description" name="description" />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="releaseDate" class="col-sm-3 text-end control-label col-form-label">releaseDate</label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control" id="releaseDate" name="releaseDate" />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="genre" class="col-sm-3 text-end control-label col-form-label">genre</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="genre" name="genre" />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="image" class="col-sm-3 text-end control-label col-form-label">Image</label>
                  <div class="col-sm-9">
                    <input type="file" class="form-control" id="image" name="image" />
                  </div>
                </div>

              <div class="border-top">
                <div class="card-body">
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- editor -->

      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <%- include("./partials/footer") %>